{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "arrowParens": "always",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@fontsource/(.*)$",
    "^@router/(.*)$",
    "^@assets/(.*)$",
    "^@types/(.*)$",
    "^@config/(.*)$",
    "^@layouts/(.*)$",
    "^@pages/(.*)$",
    "^@shared/(.*)$",
    "^@components/(.*)$",
    "^@store/(.*)$",
    "^[./]",
    "^(?!.*[.]scss$)[./].*$", ".scss$"
  ],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}