
.drawerHeader {
  background: var(--drawer-bg-primary);
  color: var(--app-bar-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 8px;
}

.chevronLeftIcon {
  svg {
    color: var(--app-bar-color);
  }
}


.drawerRoot {
  .drawerContent {
    border-right: 0;
    background: var(--drawer-bg-secondary);
  }
}